<!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In  -->
<svg version="1.1"
   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
   x="0px" y="0px" width="120px" height="76px" viewBox="0 0 120 76" style="enable-background:new 0 0 120 76;"
   xml:space="preserve" class="icon icon--illustration">
<style type="text/css">
  .bc-blueline{fill:none;stroke:#233B56;stroke-width:6;stroke-miterlimit:10;}
  .bc-greenline{fill:none;stroke:#00D4C1;stroke-width:6;stroke-miterlimit:10;}
  .bc-penciltip{fill:#233B56;}
  .bc-greyline{fill:none;stroke:#919DAA;stroke-width:6;stroke-miterlimit:10;}
</style>
<polyline id="outline" class="bc-blueline" points="3,12 105,12 105,73 3,73 3,9 "/>
<line id="pencilBarrel" class="bc-greenline" x1="117" y1="9" x2="117" y2="66.8"/>
<line id="pencilEraser" class="bc-blueline" x1="117" y1="6" x2="117" y2="0"/>
<polygon id="pencilTip" class="bc-penciltip" points="120,69.8 117,76 114,69.8 "/>
<line id="address2" class="bc-greyline" x1="13" y1="61" x2="53" y2="61"/>
<line id="address1" class="bc-greyline" x1="13" y1="49" x2="73" y2="49"/>
<line id="firstName" class="bc-blueline" x1="13" y1="30" x2="33" y2="30"/>
<line id="lastName" class="bc-blueline" x1="36" y1="30" x2="56" y2="30"/>
<line id="logo" class="bc-greenline" x1="59" y1="30" x2="69" y2="30"/>
</svg>
