//---------------------------------------------------------------
//
// Update Card
// Object for update cards
//
//---------------------------------------------------------------

.card {
  @include no-underline;
  color: color(bright-teal);
  display: block;
  background-color: currentColor;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: .25s;
  outline: 1px solid color(mercury);

  &:link:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

    .icon-text__text {
      &:after {
        transform: scaleX(1);
      }
    }
  }

  img {
    display: block;
  }
}

.card__header {
  padding: rem(20px);
  background-color: color(reverse);
}

.card__body {
  overflow: hidden;
}

//---------------------------------------------------------------
// Modifiers
//---------------------------------------------------------------

.card--active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

  .icon-text__text {
    &:after {
      transform: scaleX(1);
    }
  }
}

// Add a little dot if the card has been pinned.
.card--pinned {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 22px;
    width: 16px;
    height: 16px;
    z-index: 10;
    background-color: currentColor;
    border-radius: 50%;
    border: 3px solid color(light-gray); // will cause problems if not on this background.
    transform: translateY(-35%);
  }
}

.card--default {
  color: color(manatee);

  &:hover a {
    @include no-underline;
  }
}

.card--bio {
  color: color(dark-blue);
}

.card--location {
  background-color: color(bright-teal);

  .card__body {
    @include ir(75%, '*');
    color: #fff;

    > * {
      padding: rem(40px 25px);
    }
  }
}

.card--twitter {
  color: color(twitter-blue);

  .card__body,
  .card__body a {
    color: color(reverse);
  }
}

.card--instagram {
  color: color(manatee);
}

.card--blog {
  color: color(dark-blue);
}
