//==============================================================================
// Event Dots
// Dots below campus events
//==============================================================================

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

.event-dots {
  text-align: center;
  padding-left: 0;
  margin: 0;
  list-style: none;

  > li {
    @include block-list;
    display: inline-block;
  }
}
