//==============================================================================
// Event Body
// Body for onCampus events
//
// Modifiers:
// -----------------------------------------------------------------------------
// - Modifier      : Modifier Description
//==============================================================================

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

.event-body {
  line-height: 1.5;
  font-size: 0.95em;
}

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

.event-body__campus {
  font-weight: bolder;
  margin-bottom: rem(8);
}

// -----------------------------------------------------------------------------
// Modifiers
// -----------------------------------------------------------------------------

.module--modifier {

}
