//==============================================================================
// Event Time
// Time Range of events
//
// Modifiers:
// -----------------------------------------------------------------------------
// - Modifier      : Modifier Description
//==============================================================================

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

.event-time {
  @include type-excerpt-body;
  @include aa-type;
  display: block;
  line-height: 1.4;
}

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

.event-time__date {
  font-weight: bolder;
}

// -----------------------------------------------------------------------------
// Modifiers
// -----------------------------------------------------------------------------

.event-time--modifier {

}
