//==============================================================================
// Field Errors
// A brief description of this object
//==============================================================================

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

.field-errors {
  @include typesize-small;
  padding: 0;
  margin: 0;
  list-style: none;
  color: color(error-red);
}
