//==============================================================================
// Forms
// Form objects
//==============================================================================

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

input,
select {
  height: 40px;
  line-height: 40px;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.5em;
  border: 1px solid color(blue-gray);
  background-color: color(reverse);
  ‑webkit‑text‑size‑adjust: 100%;

  &:focus {
    outline: 0;
    border: 1px solid color(dark-blue);
  }

  .has-errors & {
    border: 1px solid color(error-red);
  }
}

textarea {
  line-height: 1.4;
  padding: 0.5em;
}

label {
  @include typesize-small;
}

.field + .field {
  margin-top: 1em;
}

input[type="submit"] {
  @extend .btn;
  @extend .btn--large;
  height: auto;
  line-height: 1.6;
  font-size: rem(13);
  display: inline-block;
  width: auto;
  margin-top: 2em;
}
