//==============================================================================
// Form Field
//
//
// Modifiers:
// -----------------------------------------------------------------------------
// - Modifier      : Modifier Description
//==============================================================================

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

.form-field {
}

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

.form-field__label {
  margin-bottom: 0.25em;
}

// -----------------------------------------------------------------------------
// Modifiers
// -----------------------------------------------------------------------------

.form-field--firstName,
.form-field--lastName {
  @include span(6 of 12 0.5);
}

.form-field--lastName {
  @include last;
}

.form-field--inline {

  .form-field__label,
  .form-field__input {
    display: inline-block;
    vertical-align: baseline;;
  }

  .form-field__label {
    margin-right: 0.25em;
  }

  .form-field__input {
    width: auto;
    max-width: 100%;
  }
}
