//==============================================================================
// Recommended Resources
// Recommended resources with a job opening
//
// Modifiers:
// -----------------------------------------------------------------------------
// - Modifier      : Modifier Description
//==============================================================================

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

.rec-resources {
  background-color: color(light-gray);
  padding: 1em;

  @include breakpoint(bp(large)) {
    padding: 0 0 0 1em;
    background-color: transparent;
    border-left: 1px solid tint(color(manatee), 60);
  }
}

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

.rec-resources__title {
  @include type-excerpt-title;
  line-height: 1.2;
}

.rec-resources__body {
  margin-top: rem(20);
}

// -----------------------------------------------------------------------------
// Modifiers
// -----------------------------------------------------------------------------

.rec-resources--modifier {

}
