//---------------------------------------------------------------
//
// Layout for sidebar of entries
//
//---------------------------------------------------------------

.l-entry-aside__date {
  margin-top: rem(30px);
}

.l-entry-aside__tags {
  margin-top: rem(30px);
}

.l-entry-aside__share {
  margin-top: rem(40px);
}