//==============================================================================
// Form Layou
//==============================================================================

// -----------------------------------------------------------------------------
// Base
// -------------------------------------------------t----------------------------

.l-form-body {

}

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

.l-form-body__row {
  @include container;

  & + & {
    margin-top: 1em;
  }
}

// -----------------------------------------------------------------------------
// Modifiers
// -----------------------------------------------------------------------------

.l-form--modifier {

}


.campus {
  .l-form-body__submit {

      input[type="submit"]{
            background-color: color(bright-teal);
            color: color(reverse);
            cursor: pointer;

            &:hover,
            &:focus {
              outline: 0;
              background-color: color(cumberland-light);
              color: color(reverse);
            }
      }
  }
}
