//==============================================================================
// Image Break
// Row of images use in the On Campus pages
//
// Modifiers:
// -----------------------------------------------------------------------------
// - Modifier      : Modifier Description
//==============================================================================

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

.l-img-break {
  display: flex;
  justify-content: space-between;
  margin: -5px;

  img {
    display: block;
  }
}

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

.l-img-break__main {
  width: span(7 of 12);
}

.l-img-break__sub {
  width: span(5 of 12);
}

.l-img-break__item {
  width: 100%;
  border: 5px solid color(reverse);
}

// -----------------------------------------------------------------------------
// Modifiers
// -----------------------------------------------------------------------------

.l-img-break--modifier {

}
