//==============================================================================
// Link group
// puts items into a flexible grid
//==============================================================================

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

.l-link-group {
  margin: 0 -1em;
  display: flex;

  > * {
    margin: 0 1em;
  }
}

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

.l-link-group__element {

}

// -----------------------------------------------------------------------------
// Modifiers
// -----------------------------------------------------------------------------

.l-link-group--modifier {

}
