{% extends "_layout" %}

{% block content %}
{% cache unless craft.config.devMode %}
  
{% include ['_partials/_entry-header-' ~ entry.type, '_partials/_entry-header'] %}
<article class="l-article">
  <section class="l-article__main">
    
    {% if entry.pageIntro | length %}
    <div class="lead">
      {{ entry.pageIntro}}
    </div>
    {% endif %}
    
    {% for block in entry.bodyBlocks %}
      {% include '_partials/_body-block-' ~ block.type %}
    {% endfor %}
  
  </section>
  <aside class="l-article__aside">
    {% include ['_partials/_entry-aside-' ~ entry.type, '_partials/_entry-aside-default'] %}
  </aside>

</article>

<div class="l-section u-bg--light-gray">
  <div class="l-container">
    <div class="l-masonry-grid js-updates-grid">
      <div class="l-masonry-grid__item--sizer"></div>
      {% for employee in craft.entries.section('employeeBio').find() %}
        <div class="l-masonry-grid__item">
          {% include '_partials/_card-bio' %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endcache %}
{% endblock %}
